#fondo{
    background: url("./img/35j.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;    
}


#pantalla{
    position: relative;
    z-index: 1;
    color: white;
    float: right;
    width: 35%;
    height: 25vh;
    background-color: #2510a3;
    padding: 20px;
    font-size: 20px;
    text-align: center;
}
.advertencia{
    color: red; 
}

[data-class=after]::after {
    content:'';
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
    background-color: rgba(0,0,0,0.6);
}

#countdown{
    top: 10%;
    width: 100%;
    left: 44%;
    display: block;
    color: blue;
    font-size: 17vh;
	position: absolute;
    z-index: 1;
}

.stop{
    position: absolute;
    display: block;
    top: 40%;
    left: 36%;
    width: 50vh;
    height: 50vh;
    z-index: 2;
}

.dir{    
    width: 11vh;
    height: 9vh;
    border-radius: 10px;
}


#direccional{
    margin-top: -9%;
    margin-left: 22%;
    margin-bottom: 0%;
   
}

#cambio{
    position: relative;
    z-index: 1;
    color: white;
    margin-right: 3vh;
    float: right;
    width: 10%;
    height: 20vh;
    border-radius: 100%;
    background-color: #2510a3;
    padding: 10px;
    font-size: 20px;
    text-align: center;    
}

#cajaAvisos{
    color: #FFF;
    background: #740a01;
    position:absolute; /*El div será ubicado con relación a la pantalla*/
    left:0px; /*A la derecha deje un espacio de 0px*/
    right:0px; /*A la izquierda deje un espacio de 0px*/
    bottom:0px; /*Abajo deje un espacio de 0px*/
    height:20%; /*alto del div*/
    width: 25%;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    
}

#velocimetro{
    color:white;
    display: block;
   text-align: center;
   font-size: 20px;
}

#giros{
    font-size: 20px;
    color: white;
}

#encender{
    margin-left: 26%;
    margin-top: 9%;
    width: 19vh;
    height: 19vh;
    border-radius: 10px;
}
#frenos{
    padding: 20px;
    background-color: red;
    color: white;
    width: 7%;
    border-radius: 100%;
    margin-top: 3%;
    margin-left: 20%;
    margin-bottom: 0px;
    
}